$theme-colors: (
    "primary": #0074d9,
    "danger": #ff4136
);


header {
    .to-do{
        color: map-get($theme-colors, primary);
        text-transform: uppercase;
    }
}

.input, .editInput{
    border: ridge;
    border-radius: 8px;
}

.list-li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: rgb(230, 240, 245);
    .save{
        display: none; 
    }
    .check{
        color: map-get($theme-colors, primary);
    }
    .delete{
        color: map-get($theme-colors, danger);
    }
    .edit{
        color: rgb(61, 212, 61);
    }
}

